@import 'main';

.ham-push-message-form {
	.ham-top {
		align-items: center;
		display: flex;
		justify-content: space-between;

		h4 {
			height: 36px;
		}
	}

	.ham-tabs {
		margin-top: 30px;

		.ham-form {
			.ham-buttons {
				margin-top: 20px;

				p {
					color: cd-palette($cd-color, 1009);
				}

				button {
					&:first-child {
						background-color: cd-palette($cd-background, 2007);
					}

					&:last-child {
						margin-left: 10px;
					}

					span, .fa-icon {
						vertical-align: unset;
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ham-tabs {
			.ham-form {
				.ham-buttons {
					.cd-col {
						padding: 0;
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ham-tabs {
			.ham-form {
				.ham-buttons {
					display: block;

					.cd-col {
						display:flex;
						flex-direction: column-reverse;

						p {
							margin-bottom: 10px;
						}

						button {
							width: 100%;

							&:first-child {
								margin-top: 10px;
							}

							&:last-child {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}
