// Color
$cd-color: (
	1000: #000000,
	1001: #ffffff,
	1002: #282a37,
	1003: #2f3243,
	1004: #9295a2,
	1005: #ffc107,
	1006: #161722,
	1007: #e67e22,
	1008: #71c578,
	1009: #e74c3c,
	1010: #84ba3f,
	1011: #f8f8f8,
	1012: #3e3e3e,
	1013: #3b7fc4,
	1014: #cdcdcd,
	1015: #808080,
	1016: #dc3545
);

// Background Color
$cd-background: (
	2000: #000000,
	2001: #ffffff,
	2002: #282a37,
	2003: #2f3243,
	2004: #9295a2,
	2005: #ffc107,
	2006: #161722,
	2007: #e67e22,
	2008: #71c578,
	2009: #e74c3c,
	2010: #84ba3f,
	2011: #f8f8f8,
	2012: #3e3e3e,
	2013: #3b7fc4,
	2014: #cdcdcd,
	2015: #808080,
	2016: #dc3545
);

// Border
$cd-border: (
	3000: #000000,
	3001: #ffffff,
	3002: #282a37,
	3003: #2f3243,
	3004: #9295a2,
	3005: #ffc107,
	3006: #161722,
	3007: #e67e22,
	3008: #71c578,
	3009: #e74c3c,
	3010: #84ba3f,
	3011: #f8f8f8,
	3012: #3e3e3e,
	3013: #3b7fc4,
	3014: #cdcdcd,
	3015: #808080,
	3016: #dc3545
);

// Box Shadow
$cd-shadow: (
	4000: #000000,
	4001: #ffffff,
	4002: #282a37,
	4003: #2f3243,
	4004: #9295a2,
	4005: #ffc107,
	4006: #161722,
	4007: #e67e22,
	4008: #71c578,
	4009: #e74c3c,
	4010: #84ba3f,
	4011: #f8f8f8,
	4012: #3e3e3e,
	4013: #3b7fc4,
	4014: #cdcdcd,
	4015: #808080,
	4016: #dc3545
);
