// text ellipses
.ham-ellipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// problem message
.ham-problem {
	p {
		color: cd-palette($cd-color, 1009);
	}
}

// form - auth
.ham-wrapper-1 {
	background-color: cd-palette($cd-background, 2001);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
}

// form - general
.ham-wrapper-2 {
	background-color: cd-palette($cd-background, 2003);
	padding: 15px;
}

// form - individual
.ham-padding-0 {
	> .cd-col {
		padding: 0;
	}
}

// form - side-by-side
.ham-padding-1 {
	> .cd-col {
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

// form - button
.ham-button {
	&:disabled {
		background-color: cd-palette($cd-background, 2004);
		opacity: .7;
	}
}

.ham-button-1 {
	background-color: cd-palette($cd-background, 2007);
	border-radius: 2px;
	margin-top: 5px;
}

.ham-button-2 {
	background-color: cd-palette($cd-background, 2003);
	border: 1px solid cd-palette($cd-border, 3007) !important;
	border-radius: 2px;
	color: cd-palette($cd-color, 1007);
	line-height: 30px !important;
	margin-top: 5px;
}

// table - button
.ham-table-button-1 {
	margin-top: 5px !important;
}

.ham-table-button-2 {
	color: cd-palette($cd-color, 1001);
	margin: 5px 0 5px 5px !important;

	&.ham-red {
		background-color: cd-palette($cd-background, 2009);
		border: 1px solid cd-palette($cd-border, 3009) !important;
	}

	&.ham-grey {
		border: 1px solid cd-palette($cd-border, 3004) !important;
		color: cd-palette($cd-color, 1004);
	}
}


// table - text with bg
.ham-td-bg {
	color: cd-palette($cd-color, 1001);
	display: inline-block;
	min-width: 65px;
	padding: 5px 8px;
	text-align: center;
}
