@import 'main';

.ham-profile-cover {
	position: relative;

	.ham-cover-wrapper {
		&::after {
			background-color: cd-palette($cd-background, 2000, .5);
			bottom: 15px;
			content: '';
			left: 15px;
			position: absolute;
			right: 15px;
			top: 15px;
		}

		.ham-cover {
			min-height: 300px;
			object-fit: cover;
		}
	}

	.cd-row {
		width: 100%;

		&.ham-details {
			left: 0;
			right: 0;

			.cd-col {
				align-items: center;
				display: flex;

				.ham-logo-wrapper {
					margin: 0 15px 0 25px;
					text-align: center;

					.ham-logo {
						align-items: center;
						background-color: cd-palette($cd-background, 2015);
						border: 5px solid cd-palette($cd-border, 3001);
						border-radius: 50%;
						display: flex;
						height: 130px;
						justify-content: center;
						margin: auto;
						width: 130px;
					}

					.ham-upload {
						margin-top: 10px;
						text-decoration: underline;
					}
				}

				.ham-name {
					margin-left: 15px;

					h1 {
						font-size: cd-fontSize(s38);
						margin-bottom: -6px;
					}
				}
			}
		}

		&.ham-last-login {
			bottom: 20px;
			position: absolute;
			right: 15px;
			text-align: right;
		}
	}

	// media
	@include cd-media(desktop, tablet) {
		.ham-cover-wrapper {
			.ham-cover {
				min-height: 270px;
			}
		}

		.cd-row {
			&.ham-details {
				.cd-col {
					.ham-logo-wrapper {
						.ham-logo {
							height: 110px;
							width: 110px;

							h2 {
								font-size: cd-fontSize(s24);
							}
						}
					}

					.ham-name {
						h1 {
							font-size: cd-fontSize(s32);
						}

						h5 {
							font-size: cd-fontSize(s20);
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, smartphone) {
		.ham-cover-wrapper {
			.ham-cover {
				min-height: 220px;
			}
		}

		.cd-row {
			&.ham-details {
				.cd-col {
					.ham-logo-wrapper {
						.ham-logo {
							border-width: 3px;
							height: 90px;
							width: 90px;

							h2 {
								font-size: cd-fontSize(s23);
							}
						}
					}

					.ham-name {
						h1 {
							font-size: cd-fontSize(s27);
						}

						h5 {
							font-size: cd-fontSize(s17);
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ham-cover-wrapper {
			.ham-cover {
				min-height: 300px;
			}
		}

		.cd-row {
			&.ham-details {
				.cd-col {
					display: block;

					.ham-name {
						margin-left: 0;
						margin-top: 15px;
						text-align: center;
					}
				}
			}
		}
	}
}
