@import 'main';

.ham-offers-form {
	.ham-top {
		position: relative;

		h4 {
			min-height: 36px;
			padding-right: 35px;
			word-break: break-all;
		}

		.ham-icon {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.ham-form-wrapper {
		margin-top: 30px;

		.ham-form {
			position: relative;

			.ham-state {
				cursor: pointer;
				height: 40px;
				line-height: cd-lineHeight(1);
				position: absolute;
				right: 150px;
				top: -5px;
				z-index: cd-zIndex(float);

				.ham-icon {
					font-size: cd-fontSize(s40);

					&.ham-green {
						color: cd-palette($cd-color, 1007);
					}

					&.ham-orange {
						color: cd-palette($cd-color, 1011);
					}
				}
			}

			.cd-row {
				&:not(:last-child) {
					margin-bottom: 20px;
				}

				.cd-col {
					&.cd-col-top {
						margin-top: 20px;
					}

					.ham-validity {
						display: flex;

						.ham-date {
							width: 50%;

							&:first-child {
								margin-right: 5px;
							}

							&:last-child {
								margin-left: 5px;
							}
						}
					}

					.ham-description {
						margin-top: 5px;

						p {
							color: cd-palette($cd-color, 1004);
							font-size: cd-fontSize(s12);
						}
					}

					.ham-toggle-common {
						display: flex;
						margin-bottom: 25px;

						&:first-child {
							margin-top: 15px;
						}

						&:last-child {
							margin-bottom: 0;
						}

						.ham-detail {
							p {
								&:last-child {
									color: cd-palette($cd-color, 1004);
									font-size: cd-fontSize(s13);
								}
							}
						}
					}
				}

				&.ham-label {
					margin-bottom: 0;
				}

				.ham-color-label {
					color: cd-palette($cd-color, 1004);
					display: block;
					font-size: cd-fontSize(s13);
					margin-bottom: 5px;
				}
			}

			.ham-tabs {
				margin-bottom: 20px;

				.cd-col {
					&.ham-image-upload {
						margin-top: 100px;
						padding-left: 15px;
					}
				}
			}

			.ham-buttons {
				margin-top: 20px;

				.ham-access {
					align-items: center;
					display: flex;
				}

				p {
					color: cd-palette($cd-color, 1009);
				}

				button {
					&:first-child {
						background-color: cd-palette($cd-background, 2007);
					}

					&:last-child {
						margin-left: 10px;
					}

					span, .fa-icon {
						vertical-align: unset;
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, tablet) {
		.ham-form-wrapper {
			.ham-form {
				.ham-state {
					margin-bottom: 10px;
					position: static;
					text-align: right;
				}

				.ham-tabs {
					.cd-col {
						&.ham-image-upload {
							margin-top: 30px;
							padding-left: 0;
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, smartphone) {
		.ham-form-wrapper {
			.ham-form {
				.cd-row {
					.cd-col {
						padding: 0;

						&.cd-col-m-top {
							margin-top: 20px;
						}

						.ham-toggle-common {
							display: block;
						}
					}
				}

				.ham-buttons {
					.cd-col {
						padding: 0;
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ham-form-wrapper {
			.ham-form {
				.ham-state {
					margin-bottom: 15px;
					text-align: left;
				}

				.cd-row {
					.cd-col {
						.ham-validity {
							display: block;

							.ham-date {
								width: 100%;

								&:first-child {
									margin: 0;
								}

								&:last-child {
									margin: 5px 0 0;
								}
							}
						}
					}
				}

				.ham-buttons {
					display: block;

					.cd-col {
						display:flex;
						flex-direction: column-reverse;
						margin-bottom: 10px;

						p {
							margin-bottom: 10px;
						}

						button {
							width: 100%;

							&:first-child {
								margin-top: 10px;
							}

							&:last-child {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}
