@import 'main';

.ham-image-upload {
	text-align: center;

	.ham-area {
		border: 2px dashed cd-palette($cd-border, 3004);
		cursor: grabbing;
		margin: 0 auto;

		.ham-dummy {
			align-items: center;
			background-color: cd-palette($cd-background, 2003);
			display: flex;
			justify-content: center;

			p {
				color: cd-palette($cd-color, 1004);
			}
		}

		.ham-preview {
			object-fit: contain;
		}

		&.ham-size-0 {
			height: 160px;
			width: 160px;

			.ham-dummy {
				height: 156px;
			}

			.ham-preview {
				max-height: 156px;
				min-height: 156px;
			}
		}

		&.ham-size-1 {
			height: 200px;
			width: 200px;

			.ham-dummy {
				height: 196px;
			}

			.ham-preview {
				max-height: 196px;
				min-height: 196px;
			}
		}
	}

	.ham-select-image {
		color: cd-palette($cd-color, 1004);
		margin-top: 10px;
		text-align: center;
		text-decoration: underline;

		label {
			cursor: pointer;
		}
	}

	.ham-error {
		margin: 15px 0;

		p {
			color: cd-palette($cd-color, 1009);
		}
	}
}
