@import 'scss-methods';

.app-dialog-common {
	text-align: center;

	.app-header {
		.modal-icon {
			margin: 20px;
			max-width: 110px;
		}
	}

	.app-content {
		padding: 20px;
	}

	.app-footer {
		button {
			background-color: var(--c8);
			border-radius: 3px;
			border: 1px solid var(--c8);
			color: var(--c2);
			margin: 0 15px;
			padding: 10px;
			width: 25%;
		}
	}

	// media
	@include cd-media(desktop, mini) {
		.app-header {
			.modal-icon {
				max-width: 80px;
			}

			h4 {
				font-size: cd-fontSize(s19);
			}
		}

		.app-footer {
			button {
				margin: 5px 0;
				width: 100%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
