@import 'scss-methods';

.app-dialog-common {
	text-align: center;

	.app-header {
		padding: 20px 40px 12px;

		.modal-icon {
			margin: 20px;
			max-width: 110px;
		}
	}

	.app-content {
		padding: 0 40px;
	}

	.app-footer {
		padding: 20px 40px 30px;

		button {
			// background-color: cd-palette($cd-background, 2003);
			border-radius: 3px;
			// color: cd-palette($cd-color, 1001);
			margin: 0 15px;
			width: 25%;
		}
	}

	// media
	@include cd-media(desktop, mini) {
		.app-header {
			.modal-icon {
				max-width: 80px;
			}

			h4 {
				// font-size: cd-fontSize(s19);
			}
		}

		.app-footer {
			button {
				margin: 10px 0;
				width: 100%;
			}
		}
	}
}
