@import 'scss-methods';

.app-input-field {
	label {
		color: var(--c5);
		display: block;
		font-size: cd-fontSize(s13);
		margin-bottom: 5px;
	}

	.app-input-wrapper {
		border: 1px solid var(--c5);

		&.app-invalid {
			border: 1px solid var(--c5);
		}

		&.app-layout-flex {
			align-items: center;
			display: flex;

			&.app-direction {
				direction: rtl;
			}

			.app-info {
				display: block;

				button {
					background-color: var(--c5);
					border-radius: 0;
					height: 41px;
					margin-left: 0;
					margin-top: 0;

					&:disabled {
						background-color: var(--c5);
					}

					&:not(.app-simple) {
						min-width: 38px;
						padding: 0;
						width: 38px;
					}

					&.app-simple {
						min-width: auto;
						padding: 0 8px;
						width: auto;
					}

					fa-icon {
						color: var(--c5);
						font-size: cd-fontSize(s14);
					}

					p {
						color: var(--c5);
					}
				}
			}
		}

		.app-input, .app-textarea {
			direction: ltr;
			position: relative;
			width: 100%;

			input, textarea {
				background-color: transparent;
				border: none;
				box-shadow: none;
				color: var(--c5);
				cursor: pointer;
				font-size: cd-fontSize(s14);
				margin: 0;
				outline: 0;
				padding: 12px;
				width: 100%;

				&.app-time {
					padding: 10px;
				}

				&.app-space {
					padding-right: 32px;
				}

				&:disabled {
					cursor: default;
					opacity: .5;
				}

				&::placeholder {
					color: var(--c5);
					opacity: 1;
				}

				&:focus,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					animation: autofill 0s forwards;
					background-color: transparent;
					box-shadow: none;
					color: var(--c5);
					transition: background-color 5000s ease-in-out 0s;
				}

				@keyframes autofill {
					100% {
						background-color: transparent;
						color: var(--c5);
					}
				}

				&::-webkit-clear-button {
					display: none;
				}
			}

			// icon: password show
			.app-icon {
				color: var(--c5);
				cursor: pointer;
				position: absolute;
				right: 6px;

				&:not(.app-textarea) {
					top: 12px;
				}

				&.app-textarea {
					top: 10px;
				}

				&.app-eye {
					right: 30px;
				}

				&.mat-icon {
					font-size: cd-fontSize(s19);
					height: 20px;
					width: 20px;
				}
			}
		}

		// focused
		&.app-focused {
			&:not(.app-invalid) {
				border: 1px solid var(--c5);
			}
		}
	}

	// error
	.mat-error {
		p {
			background-color: var(--c5);
			color: var(--c5);
			font-size: cd-fontSize(s12);
			margin-top: 0;
			padding: 2px 6px;
		}
	}

	// hint
	.mat-hint {
		color: var(--c5);
		display: block;
		font-size: cd-fontSize(s12);
		margin-top: 4px;
	}
}
