@import 'main';

.ham-read-more {
	p {
		color: cd-palette($cd-color, 1001);

		.ham-link {
			color: cd-palette($cd-color, 1013);
			cursor: pointer;
			font-weight: cd-fontWeight(700);
			margin-left: 10px;
			text-decoration: underline;
		}
	}
}
