@import 'main';

.ham-license {
	.cd-row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		.cd-col {
			&.cd-col-top {
				margin-top: 20px;
			}

			button {
				margin-top: 15px;

				&:first-child {
					margin-right: 10px;
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.cd-row {
			.cd-col {
				padding: 0;

				&.cd-col-m-top {
					margin-top: 20px;
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.cd-row {
			.cd-col {
				display:flex;
				flex-direction: column-reverse;

				button {
					width: 100%;

					&:first-child {
						margin-right: 0;
					}

					&:last-child {
						margin-top: 10px;
					}
				}
			}
		}
	}
}
