@import 'main';

.ham-auth-common {
	background-color: cd-palette($cd-background, 2001);

	.ham-row {
		max-width: 800px;
		min-width: 800px;

		.ham-col {
			&:first-child {
				padding: 0;
				position: relative;

				&::before {
					bottom: 0;
					content: '';
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: cd-zIndex(normal);
				}
			}

			&:last-child {
				background-color: cd-palette($cd-background, 2002);
				color: cd-palette($cd-color, 1001);
				padding: 25px;

				.ham-form {
					.cd-row {
						margin-top: 20px;

						.ham-side-by-side {
							display: flex;

							.ham-padding {
								&:first-child {
									padding-right: 10px;
								}

								&:last-child {
									padding-left: 10px;
								}
							}
						}

						.cd-col {
							padding: 0;

							&:not(:first-child) {
								margin-top: 20px;
							}

							&.ham-btn-error {
								display: flex;

								p {
									color: cd-palette($cd-color, 1009);
									margin-left: 20px;
								}
							}

							&.ham-sby-remember {
								align-items: center;
								color: cd-palette($cd-color, 1004);
								display: flex;
								justify-content: space-between;

								.ham-remember-color {
									color: cd-palette($cd-color, 1010);
								}
							}

							&.cd-divider {
								margin: 10px 0 -10px;
							}

							p {
								color: cd-palette($cd-color, 1004);
								margin: 0;
							}
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, tablet) {
		margin: 40px auto;
		position: static;
		transform: none;
		width: 90%;

		.ham-row {
			max-width: 100%;
			min-width: auto;

			.ham-col {
				&:last-child {
					.ham-form {
						.cd-row {
							.ham-side-by-side {
								display: block;
								width: 100%;

								.ham-padding {
									&:first-child {
										padding-right: 0;
									}

									&:last-child {
										margin-top: 20px;
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, smartphone) {
		margin: 0 auto;
		width: 100%;
	}

	@include cd-media(desktop, mini) {
		.ham-row {
			.ham-col {
				&:last-child {
					.ham-form {
						.cd-row {
							.cd-col {
								&.ham-btn-error {
									display: block;

									p {
										margin: 20px 0 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
