@import 'main';

.ham-auth-wrapper {
	background-color: cd-palette($cd-background, 2001);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
}
