@import 'main';

.ham-progress-wrapper {
	margin-top: 10px;

	.ham-label {
		margin-bottom: 5px;

		span {
			font-size: cd-fontSize(s12);

			&.ham-title {
				color: cd-palette($cd-color, 1004);
			}
		}
	}
}
