<!-- Content Projection -->
<ng-content></ng-content>

<!-- Progress -->
<div class="ham-progress-wrapper" *ngIf="score > 0">
	<!-- Status -->
	<div class="ham-label">
		<span class="ham-title" i18n="@@Widget_Password_Strength_Title">Password Strength:</span>
		<ng-container *ngIf="score === 1">
			<span i18n="@@Widget_Password_Strength_Weak">Weak</span>
		</ng-container>
		<ng-container *ngIf="score === 2">
			<span i18n="@@Widget_Password_Strength_Fair">Fair</span>
		</ng-container>
		<ng-container *ngIf="score === 3">
			<span i18n="@@Widget_Password_Strength_Good">Good</span>
		</ng-container>
		<ng-container *ngIf="score === 4">
			<span i18n="@@Widget_Password_Strength_Strong">Strong</span>
		</ng-container>
	</div>

	<!-- Bar -->
	<mat-progress-bar
		class="ham-password-strength"
		[class.ham-weak]="score === 1"
		[class.ham-fair]="score === 2"
		[class.ham-good]="score === 3"
		[class.ham-strong]="score === 4"
		[value]="score * 25">
	</mat-progress-bar>
</div>
