@import 'main';

.ham-error-system {
	.ham-header {
		background-color: cd-palette($cd-background, 2009);
		padding: 20px;
		text-align: center;

		h4 {
			color: cd-palette($cd-color, 1001);
		}
	}

	.ham-content {
		padding: 15px;
	}
}
