@import 'scss-methods';

.app-select-field {
	label {
		color: var(--c5);
		display: block;
		font-size: cd-fontSize(s13);
		margin-bottom: 5px;
	}

	.app-select-wrapper {
		border: 1px solid var(--c5);

		&.app-invalid {
			border: 1px solid var(--c5);
		}

		&.app-disabled {
			button {
				opacity: .5;
			}
		}

		&.app-layout-flex {
			align-items: center;
			display: flex;

			&.app-direction {
				direction: rtl;
			}
		}

		.app-select {
			direction: ltr;
			position: relative;
			width: 100%;

			.mat-select {
				background-color: transparent;
				font-size: cd-fontSize(s13);
				outline: 0;
				width: 100%;

				&.mat-select-disabled {
					cursor: default;
					opacity: .5;
				}
			}
		}

		// focused
		&.app-focused {
			&:not(.app-invalid):not(.app-disabled) {
				border: 1px solid var(--c5);
			}
		}
	}

	// error
	.mat-error {
		p {
			background-color: var(--c5);
			color: var(--c5);
			font-size: cd-fontSize(s12);
			margin-top: 0;
			padding: 2px 6px;
		}
	}

	// hint
	.mat-hint {
		color: var(--c5);
		display: block;
		font-size: cd-fontSize(s12);
		margin-top: 3px;
	}
}
