@import 'main';

.ham-user-form {
	background-color: cd-palette($cd-background, 2003);
	color: cd-palette($cd-color, 1001);
	position: relative;

	header {
		.ham-top {
			align-items: center;
			display: flex;
			justify-content: space-between;

			a {
				color: cd-palette($cd-color, 1001);
				cursor: pointer;
				height: 24px;
			}
		}

		.ham-bottom {
			text-align: right;

			p {
				span {
					color: cd-palette($cd-color, 1004);
				}
			}
		}
	}

	.ham-form {
		margin-top: 10px;

		.cd-row {
			&:not(:last-child) {
				margin-bottom: 20px;
			}

			.cd-col {
				&.cd-col-top {
					margin-top: 20px;
				}
			}

			&.ham-buttons {
				margin-top: 20px;

				button {
					&:first-child {
						background-color: cd-palette($cd-background, 2010);
					}

					&:last-child {
						margin-left: 10px;
					}
				}
			}
		}

		.ham-description {
			p {
				color: cd-palette($cd-color, 1004);
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ham-form {
			.cd-row {
				.cd-col {
					padding: 0;

					&.cd-col-m-top {
						margin-top: 20px;
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ham-form {
			.cd-row {
				&.ham-buttons {
					display: block;

					.cd-col {
						display:flex;
						flex-direction: column-reverse;

						button {
							width: 100%;

							&:first-child {
								margin-top: 10px;
							}

							&:last-child {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}
