@import 'main';

.ham-account-menu {
	button {
		min-width: 0;

		.ham-user-name {
			color: cd-palette($cd-color, 1004);
			font-size: cd-fontSize(s19);
		}

		.ham-profile-logo {
			border-radius: 50%;
			height: 25px;
			width: 25px;
		}
	}
}
