@import 'main';

.ham-notification-list {
	.ham-notification-main {
		margin-top: 30px;

		.ham-functions {
			align-items: flex-end;
			display: flex;

			.cd-row {
				&:first-child {
					width: 100%;
				}

				.cd-col {
					&.ham-date {
						display: flex;
						flex: 0 0 195px;

						button {
							background-color: cd-palette($cd-background, 2003);
							border-radius: 0;
							color: cd-palette($cd-color, 1001);
							margin: 0;
							min-width: 36px;
							padding: 0;
						}
					}

					&.ham-filter {
						flex: 0 0 175px;
						margin-left: 10px;
					}
				}
			}
		}
	}

	.cd-row {
		margin-bottom: 20px;

		.cd-col {
			.ham-note {
				color: cd-palette($cd-color, 1009);
				text-align: center;
			}
		}
	}

	// media
	@include cd-media(desktop, tablet) {
		.ham-notification-main {
			.ham-functions {
				display: flex;
				flex-direction: column-reverse;

				.ham-clear-all {
					text-align: right;
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ham-notification-main {
			.cd-row {
				display: block;

				.cd-col {
					&.ham-date {
						.ham-picker {
							width: 100%;
						}
					}

					&.ham-filter {
						margin-left: 0 !important;
						margin-top: 5px;
					}
				}
			}
		}
	}
}
