@import 'main';

.ham-notification-list {
	.cd-row {
		margin-bottom: 20px;

		.cd-col {
			&.ham-date {
				display: flex;
				flex: 0 0 200px;

				button {
					background-color: cd-palette($cd-background, 2003);
					border-radius: 0;
					color: cd-palette($cd-color, 1001);
					margin: 0;
					min-width: 36px;
					padding: 0;
				}
			}

			&.ham-filter {
				flex: 0 0 200px;
				margin-left: 10px;
			}

			.ham-note {
				color: cd-palette($cd-color, 1009);
				text-align: center;
			}
		}
	}
}
