@import 'main';

.ham-content-head {
	margin-bottom: 20px;

	.ham-top {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	// media
	@include cd-media(desktop, mini) {
		.ham-top {
			display: block;
		}
	}
}
