@import 'main';

.ham-error-common {
	.ham-header {
		background-color: cd-palette($cd-background, 2009);
		padding: 20px;
		text-align: center;

		h4 {
			color: cd-palette($cd-color, 1001);
		}
	}

	.ham-content {
		padding: 15px;
	}

	.ham-footer {
		padding: 10px 15px;
		text-align: center;

		button {
			background-color: cd-palette($cd-background, 2011);
			border-radius: 0;
			color: cd-palette($cd-color, 1000);
		}
	}

	// media
	@include cd-media(desktop, mini) {
		.ham-footer {
			button {
				width: 100%;
			}
		}
	}
}
