@import 'main';

.ham-dashboard {
    .ham-detail {
        .cd-row {
            .cd-col {
                &:nth-child(3n + 1) {
                    padding-left: 0;
                }

                &:nth-child(3n) {
                    padding-right: 0;
                }

                .ham-block {
                    align-items: center;
                    background-color: cd-palette($cd-background, 2001);
                    box-shadow: 1px 1px 1px 1px cd-palette($cd-shadow, 4003);
                    color: cd-palette($cd-color, 1000);
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;

                    .ham-icons {
                        border-radius: 50%;
                        color: cd-palette($cd-color, 1001);
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        width: 50px;

                        &.ham-yellow {
                            background-color: cd-palette($cd-background, 2005);
                        }

                        &.ham-blue {
                            background-color: cd-palette($cd-background, 2006);
                        }

                        &.ham-red {
                            background-color: cd-palette($cd-background, 2010);
                        }

                        &.ham-green {
                            background-color: cd-palette($cd-background, 2007);
                        }

                        .ham-icon {
                            font-size: cd-fontSize(s25);
                            vertical-align: sub;
                        }
                    }

                    .ham-numbers {
                        text-align: right;

                        h6 {
                            line-height: cd-lineHeight(1.1);
                        }

                        h4 {
                            margin-top: -5px;
                        }
                    }
                }
            }
        }
    }

    // media
    @include cd-media(mobile, desktop) {
        .ham-detail {
            .cd-row {
                .cd-col {
                    &:not(:first-child):not(:nth-of-type(2)):not(:nth-of-type(3)) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    @include cd-media(desktop, tablet) {
        .ham-detail {
            .cd-row {
                .cd-col {
                    &:nth-of-type(2n + 1) {
                        margin-bottom: 20px;
                        padding-left: 0;
                        padding-right: 15px;
                    }

                    &:nth-of-type(2n) {
                        padding-left: 15px;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    @include cd-media(desktop, mini) {
        .ham-detail {
            .cd-row {
                .cd-col {
                    margin-bottom: 0 !important;
                    padding: 0 !important;

                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
