@import 'main';

.ham-notification-wrapper {
	&:not(:first-child) {
		border-top: 1px solid cd-palette($cd-border, 3002);
	}

	.ham-message {
		padding: 5px 10px;
		position: relative;

		&.ham-success {
			background-color: cd-palette($cd-background, 2008);
		}

		&.ham-info {
			background-color: cd-palette($cd-background, 2002);
		}

		&.ham-warning {
			background-color: cd-palette($cd-background, 2005);
		}

		&.ham-error {
			background-color: cd-palette($cd-background, 2009);
		}

		p {
			color: cd-palette($cd-color, 1001);
			font-weight: cd-fontWeight(700);
			padding-right: 15px;
		}

		.mat-icon {
			color: cd-palette($cd-color, 1001);
			cursor: pointer;
			font-size: cd-fontSize(s20);
			height: 20px;
			line-height: cd-lineHeight(1.2);
			position: absolute;
			right: 0;
			top: 0;
			width: 25px;
		}
	}
}
