<section class="ham-table-wrapper ham-wrapper-2">
	<div class="ham-top">
		<!-- Table Title -->
		<h2 class="ham-title">{{ tableTitle }}</h2>

		<!-- Input Filter -->
		<app-input
			*ngIf="tableShowFilterInput"
			[inputName]="tableFilterInputName"
			[inputPlaceHolder]="tableFilterInputPlaceHolder"
			[control]="search">
		</app-input>
	</div>

	<!-- Table -->
	<div class="ham-table">
		<table mat-table [className]="'mat-table ham-table'" [dataSource]="dataSource" matSort [matSortDisabled]="!tableApplySorting" [hidden]="loading">
			<!-- Column Templates -->
			<ng-container *ngFor="let column of tableColumns; let idx = index;" matColumnDef="{{ column }}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!tableSorting[idx]" (click)="onClickSortByColumn(column)">
					<!-- Column: Clear -->
					<ng-container *ngIf="column === 'Clear'">
						<div class="ham-clear-head">
							<mat-checkbox
								(click)="onClickCheckAllRows()"
								class="ham-checkbox ham-checkbox-3 ham-s1"
								[disableRipple]="true"
								[formControl]="clearAll">
							</mat-checkbox>
							<span class="ham-clear" [class.ham-disabled]="clearRows && clearRows.length === 0" (click)="onClickConfirmCheckedRows($event)">Clear</span>
						</div>
					</ng-container>

					<!-- Column: Rest -->
					<ng-container *ngIf="column !== 'Clear'">
						{{ column }}
					</ng-container>
				</th>
				<td mat-cell *matCellDef="let element" [class.ham-notifications]="element['ConfirmDate'] && !(element['ConfirmDate'] && element['ConfirmUser'])">
					<ng-container [ngSwitch]="column">
						<!-- Clear -->
						<ng-container *ngSwitchCase="'Clear'">
							<mat-checkbox
								*ngIf="!(!!element['ConfirmDate'] && !!element['ConfirmUser'])"
								[checked]="checkAllRows"
								class="ham-checkbox ham-checkbox-3 ham-s1"
								(change)="onClickClearRow(element)"
								[disableRipple]="true">
							</mat-checkbox>
						</ng-container>

						<!-- Image -->
						<ng-container *ngSwitchCase="'Image'">
							<img
								class="ham-image"
								*ngIf="element[column] && validateType(element[column]) !== 'string' && element[column] | async"
								[src]="element[column] | async" alt="table-photo"/>
							<p
								class="ham-no-image"
								*ngIf="!element[column] || validateType(element[column]) === 'string'">
								{{element[column]}}
							</p>
						</ng-container>

						<!-- Status -->
						<ng-container *ngSwitchCase="'Status'">
							{{ element['State'] }}
						</ng-container>

						<!-- Rest -->
						<ng-container *ngSwitchDefault>
							<ng-container [ngSwitch]="validateType(element[column])">
								<!-- Undefined -->
								<ng-container *ngSwitchCase="'undefined'">-</ng-container>

								<!-- Boolean -->
								<ng-container *ngSwitchCase="'boolean'">
									<mat-checkbox
										class="ham-checkbox-2 ham-s1"
										[(ngModel)]="element[column]"
										[disabled]="true"
										[disableRipple]="true">
									</mat-checkbox>
								</ng-container>

								<!-- Text -->
								<ng-container *ngSwitchDefault>
									<span
										[class.ham-td-bg]="column === 'Type'"
										[ngStyle]="{ 'background-color': column === 'Type' ? element['Color'] : null }"
										[innerHTML]="element[column]">
									</span>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</td>
			</ng-container>

			<!-- Additional Columns Templates -->
			<ng-container *ngFor="let column of tableAdditionalColumns; let idx=index" matColumnDef="{{ column }}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!tableSorting[tableSorting.length - 1]">{{ column }}</th>
				<td mat-cell *matCellDef="let element">
					<!-- Rest -->
					<ng-container *ngIf="!(!!element['ConfirmDate'] && !!element['ConfirmUser'])">
						<ng-container *ngIf="column !== 'Visit' || column === 'Visit' && element['TypeRaw'] !== 'ALERT'">
							<ng-container *ngTemplateOutlet="tableTemplateRef[idx]"></ng-container>
						</ng-container>
					</ng-container>

					<!-- Notification | without buttons -->
					<ng-container *ngIf="!!element['ConfirmDate'] && !!element['ConfirmUser']">
						<p><span>{{ element['ConfirmDate'] }}</span> (<span>{{ element['ConfirmUser'] }}</span>)</p>
					</ng-container>
				</td>
			</ng-container>

			<!-- Row Templates -->
			<tr mat-header-row *matHeaderRowDef="allColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: allColumns" (click)="onClickRow(row)"></tr>
		</table>

		<!-- Spinner -->
		<div class="ham-spinner" *ngIf="loading">
			<mat-spinner class="ham-spinner-1" [diameter]="50"></mat-spinner>
		</div>

		<!-- Info -->
		<p class="ham-no-data" i18n="@@Management_Table_No_Data" *ngIf="dataSource && dataSource.data.length === 0">
			No Data is available.
		</p>
	</div>

	<!-- Info & Pagination -->
	<div class="ham-pagination-wrapper" [ngStyle]="{ 'display' : dataSource && dataSource.data.length === 0 ? 'none' : 'block' }">
		<mat-toolbar>
			<mat-toolbar-row class="mat-toolbar-row">
				<!-- Info -->
				<p>{{ tableInfo }}</p>

				<!-- Pagination -->
				<mat-paginator
					(page)="onChangeNextPage($event)"
					[pageSize]="tablePageSize"
					[className]="'ham-pagination'"
					[hidePageSize]="true"
					[showFirstLastButtons]="true">
				</mat-paginator>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>
</section>
