<section class="ham-table-wrapper">
	<div class="ham-top">
		<!-- Table Title -->
		<h2 class="ham-title">{{ tableTitle }}</h2>

		<!-- Input Filter -->
		<app-input
			[inputName]="inputName"
			[inputPlaceHolder]="inputPlaceHolder"
			[control]="search">
		</app-input>
	</div>

	<!-- Table -->
	<div class="ham-table">
		<table mat-table [dataSource]="dataSource" matSort>
			<!-- Column Templates -->
			<ng-container *ngFor="let item of columnsToDisplay" matColumnDef="{{ item }}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ capitalizeString(item) }}</th>
				<td mat-cell *matCellDef="let element">{{ element[item] }}</td>
			</ng-container>

			<!-- Row Templates -->
			<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
			<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
		</table>
	</div>

	<!-- Pagination -->
	<mat-paginator
		[className]="'ham-pagination-1'"
		[hidePageSize]="true"
		[pageSizeOptions]="pagination"
		showFirstLastButtons>
	</mat-paginator>
</section>
